<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="/img/podblog-logo.png" alt="logo" height="40">
    </a>
    
    <ul class="navbar-nav mr-auto flex-row">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a> 
      </li>
      <% categories.forEach(category => { %>
      <li class="nav-item">
        <a class="nav-link" href="/category/<%= category.slug %>"><%= category.title %></a> 
      </li>
      <% }); %>
    </ul>
  </div>
</nav>