@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

:root{
--nav-title:  #8979F2; 
--text-color: #35F29A;
--nav-text: #70e2fb;
--nav-text-bg: #a1eeff;
--button-bg: #27F27F;
--body-bg: #F2F2F2;
--nav-bg: #1a1a1a;
  color: #6805F2;
  color: #5204BF;
  color: #310273;
  color: #F23E16;
  color: #0D0D0D;
}

/* RGBA if necessary
color: rgba(137, 121, 242, 1); }
color: rgba(53, 242, 154, 1); }
color: rgba(38, 242, 126, 1); }
color: rgba(242, 242, 242, 1); }
color: rgba(12, 12, 12, 1); }
*/


/* Color Theme Swatches in RGBA 
color: rgba(103, 4, 242, 1);
color: rgba(81, 3, 191, 1);
 color: rgba(49, 2, 114, 1);
color: rgba(242, 62, 21, 1);
color: rgba(12, 12, 12, 1);
*/



body{
  background-color: var(--body-bg);
}

.navbar{
  background-color: var(--nav-bg);
  box-shadow: 0 1px 5px #27f27f4f;
  
}

.navbar-brand{
  max-height: 100%;
}



#span-title{
  color: var(--body-bg);
  background-image: none;
}


.nav.item,
.nav-link{
  color: var(--nav-text);
  margin-left: 1em; 
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  transition: 0.5s;
  
}

.nav-link:first-child{
  margin-right: 1em;
}

.nav-link:hover{
  color: var(--nav-text-bg);
  box-shadow: 0px 1px var(--nav-text-bg);
}

